:root {
  --first-x-position: 720px;
  --second-x-position: 75px;
  --third-x-position: 600px;
  --fourth-x-position: 0px;
}

.parent {
  background-color: rgb(50, 50, 92);
  height: 800px;
  width: 800px;
  position: absolute;
}

.child {
  background-color: red;
  height: 10%;
  width: 10%;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: none;
}

.child {
  animation: zigzag 5s linear infinite;
}

@keyframes zigzag {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(var(--first-x-position), -200px);
  }
  50% {
    transform: translate(var(--second-x-position), -400px);
  }
  75% {
    transform: translate(var(--third-x-position), -600px);
  }
  100% {
    transform: translate(var(--fourth-x-position), -720px);
  }
}
